
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.main_div {
    height: 98%;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.main_div > div {
    clear: both;
    padding: 5px;
    width: 96%;
    margin: 0 auto;
}

.breadcrumb {
    padding: 7px 14px;
    margin: 0 0 20px;
    list-style: none;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

.breadcrumb li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-shadow: 0 1px 0 #ffffff;
}

.content_div {
    flex: 1;
    display: flex;
    display: -webkit-flex;
}

.left-container {
    margin-right: 10px;
    width: 280px;
    overflow-x: hidden;
}

.base_container {
    border: 1px solid #d3d3d3;
}

.base_container > h2 {
    line-height: 36px;
    border-left: 5px solid #009E94;
    margin: 0 0 5px;
    padding: 0 10px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 400;
}

.base_container > ul {
    margin: 5px;
    padding: 10px;
}

.base_container .layui-form-item-my {
    margin-bottom: 5px;
}

.layui-form-item-my .layui-form-label {
    width: 170px;
}
.layui-form-item-my .layui-form-label.small-label{
    width: 100px;
    padding: 9px 0;
}
.layui-form-item-my .layui-form-label.middle-label{
    width: 90px;
}

.layui-form-item-my .layui-input-block {
    margin-left: 200px;
    margin-bottom: 0;
    line-height: 36px;

}

.layui-form-item-my .layui-input-block a.number_a{
    display: inline-block;
    text-align: right;
    margin-right: 5px;
    cursor: pointer;
}

.layui-form-item-my .layui-input-block a.number_a:hover{

    text-decoration: underline;
}

.layui-form-item-my .layui-input-my {
    width: 80px;
    display: inline-block;
    margin: 0 10px;
}


.right-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex: 1;
}

.r_b_container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex: 1;
}

.layui-input-block {
    margin-bottom: 5px;
}

.hide_div {
    display: none;
}

#level_config {
    flex: 1;
}

.r_b_i_container {
    flex: 1;
    position: relative;
}

.r_b_i_o_container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.warning-div{
    color: #FF5722;
    margin-left: 25px;
}