<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.withub.ums.dao.UmsCourtVerifyConfigMapper" >
  <resultMap id="BaseResultMap" type="cn.net.withub.ums.entity.UmsCourtVerifyConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="court_code" property="courtCode" jdbcType="VARCHAR" />
    <result column="court_std_no" property="courtStdNo" jdbcType="INTEGER" />
    <result column="court_no" property="courtNo" jdbcType="INTEGER" />
    <result column="c_scope" property="cScope" jdbcType="VARCHAR" />
    <result column="c_key" property="cKey" jdbcType="VARCHAR" />
    <result column="c_value" property="cValue" jdbcType="VARCHAR" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
    <result column="update_user_no" property="updateUserNo" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, court_code, court_std_no, court_no, c_scope, c_key, c_value, c_name, update_user_name, 
    update_user_no, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.net.withub.ums.entity.UmsCourtVerifyConfigCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_court_verify_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ums_court_verify_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ums_court_verify_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.net.withub.ums.entity.UmsCourtVerifyConfigCriteria" >
    delete from ums_court_verify_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.net.withub.ums.entity.UmsCourtVerifyConfig" >
    insert into ums_court_verify_config (id, court_code, court_std_no, 
      court_no, c_scope, c_key, 
      c_value, c_name, update_user_name, 
      update_user_no, update_time)
    values (#{id,jdbcType=INTEGER}, #{courtCode,jdbcType=VARCHAR}, #{courtStdNo,jdbcType=INTEGER}, 
      #{courtNo,jdbcType=INTEGER}, #{cScope,jdbcType=VARCHAR}, #{cKey,jdbcType=VARCHAR}, 
      #{cValue,jdbcType=VARCHAR}, #{cName,jdbcType=VARCHAR}, #{updateUserName,jdbcType=VARCHAR}, 
      #{updateUserNo,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.net.withub.ums.entity.UmsCourtVerifyConfig" >
    insert into ums_court_verify_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="courtCode != null" >
        court_code,
      </if>
      <if test="courtStdNo != null" >
        court_std_no,
      </if>
      <if test="courtNo != null" >
        court_no,
      </if>
      <if test="cScope != null" >
        c_scope,
      </if>
      <if test="cKey != null" >
        c_key,
      </if>
      <if test="cValue != null" >
        c_value,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="updateUserName != null" >
        update_user_name,
      </if>
      <if test="updateUserNo != null" >
        update_user_no,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courtCode != null" >
        #{courtCode,jdbcType=VARCHAR},
      </if>
      <if test="courtStdNo != null" >
        #{courtStdNo,jdbcType=INTEGER},
      </if>
      <if test="courtNo != null" >
        #{courtNo,jdbcType=INTEGER},
      </if>
      <if test="cScope != null" >
        #{cScope,jdbcType=VARCHAR},
      </if>
      <if test="cKey != null" >
        #{cKey,jdbcType=VARCHAR},
      </if>
      <if test="cValue != null" >
        #{cValue,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null" >
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateUserNo != null" >
        #{updateUserNo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.net.withub.ums.entity.UmsCourtVerifyConfigCriteria" resultType="java.lang.Integer" >
    select count(*) from ums_court_verify_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ums_court_verify_config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.courtCode != null" >
        court_code = #{record.courtCode,jdbcType=VARCHAR},
      </if>
      <if test="record.courtStdNo != null" >
        court_std_no = #{record.courtStdNo,jdbcType=INTEGER},
      </if>
      <if test="record.courtNo != null" >
        court_no = #{record.courtNo,jdbcType=INTEGER},
      </if>
      <if test="record.cScope != null" >
        c_scope = #{record.cScope,jdbcType=VARCHAR},
      </if>
      <if test="record.cKey != null" >
        c_key = #{record.cKey,jdbcType=VARCHAR},
      </if>
      <if test="record.cValue != null" >
        c_value = #{record.cValue,jdbcType=VARCHAR},
      </if>
      <if test="record.cName != null" >
        c_name = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUserName != null" >
        update_user_name = #{record.updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUserNo != null" >
        update_user_no = #{record.updateUserNo,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ums_court_verify_config
    set id = #{record.id,jdbcType=INTEGER},
      court_code = #{record.courtCode,jdbcType=VARCHAR},
      court_std_no = #{record.courtStdNo,jdbcType=INTEGER},
      court_no = #{record.courtNo,jdbcType=INTEGER},
      c_scope = #{record.cScope,jdbcType=VARCHAR},
      c_key = #{record.cKey,jdbcType=VARCHAR},
      c_value = #{record.cValue,jdbcType=VARCHAR},
      c_name = #{record.cName,jdbcType=VARCHAR},
      update_user_name = #{record.updateUserName,jdbcType=VARCHAR},
      update_user_no = #{record.updateUserNo,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.net.withub.ums.entity.UmsCourtVerifyConfig" >
    update ums_court_verify_config
    <set >
      <if test="courtCode != null" >
        court_code = #{courtCode,jdbcType=VARCHAR},
      </if>
      <if test="courtStdNo != null" >
        court_std_no = #{courtStdNo,jdbcType=INTEGER},
      </if>
      <if test="courtNo != null" >
        court_no = #{courtNo,jdbcType=INTEGER},
      </if>
      <if test="cScope != null" >
        c_scope = #{cScope,jdbcType=VARCHAR},
      </if>
      <if test="cKey != null" >
        c_key = #{cKey,jdbcType=VARCHAR},
      </if>
      <if test="cValue != null" >
        c_value = #{cValue,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null" >
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateUserNo != null" >
        update_user_no = #{updateUserNo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.net.withub.ums.entity.UmsCourtVerifyConfig" >
    update ums_court_verify_config
    set court_code = #{courtCode,jdbcType=VARCHAR},
      court_std_no = #{courtStdNo,jdbcType=INTEGER},
      court_no = #{courtNo,jdbcType=INTEGER},
      c_scope = #{cScope,jdbcType=VARCHAR},
      c_key = #{cKey,jdbcType=VARCHAR},
      c_value = #{cValue,jdbcType=VARCHAR},
      c_name = #{cName,jdbcType=VARCHAR},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      update_user_no = #{updateUserNo,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertByBatch" parameterType="java.util.List" useGeneratedKeys="true" keyColumn="id">
      insert into ums_court_verify_config ( court_code, court_std_no,
      court_no, c_scope, c_key,
      c_value, c_name, update_user_name,
      update_user_no, update_time)
    values
    <foreach collection="list" item="code" index="index" separator="," close=";">
      ( #{code.courtCode,jdbcType=VARCHAR}, #{code.courtStdNo,jdbcType=INTEGER},
      #{code.courtNo,jdbcType=INTEGER}, #{code.cScope,jdbcType=VARCHAR}, #{code.cKey,jdbcType=VARCHAR},
      #{code.cValue,jdbcType=VARCHAR}, #{code.cName,jdbcType=VARCHAR}, #{code.updateUserName,jdbcType=VARCHAR},
      #{code.updateUserNo,jdbcType=VARCHAR}, #{code.updateTime,jdbcType=TIMESTAMP})
    </foreach>

  </insert>

  <insert id="insertAuto" parameterType="cn.net.withub.ums.entity.UmsCourtVerifyConfig"  useGeneratedKeys="true" keyProperty="id">
    insert into ums_court_verify_config ( court_code, court_std_no,
      court_no, c_scope, c_key,
      c_value, c_name, update_user_name,
      update_user_no, update_time)
    values (#{courtCode,jdbcType=VARCHAR}, #{courtStdNo,jdbcType=INTEGER},
      #{courtNo,jdbcType=INTEGER}, #{cScope,jdbcType=VARCHAR}, #{cKey,jdbcType=VARCHAR},
      #{cValue,jdbcType=VARCHAR}, #{cName,jdbcType=VARCHAR}, #{updateUserName,jdbcType=VARCHAR},
      #{updateUserNo,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
</mapper>