@charset "utf-8";
/* CSS Document */
/*---------------------------------------字体样式---------------------------------------------------*/
.acu{font-weight:bold;}
.ahuang{color: #FF0;}

/*----------------------------------------头部--------------------------------------------------*/
.logo{
    float: left;
    padding-left: 12px;
    padding-top: 4px;
}